body {
  padding: 36px 156px;
}

.form {
  max-width: 360px;
}

input[type="number"] {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: 1px solid #808080;
  margin-right: 8px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

input[type="number"]:hover {
  border: 1px solid black;
}

input[type="number"]:active {
  border: 1px solid #4E75FF;
}

legend {
  margin-left: 28px;
  color: #2E2F42;
}

fieldset label:nth-child(2) {
  margin-right: 48px;
}

fieldset {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  padding: 14px 0px 8px 0px;
  margin-bottom: 24px;
}

button {
  width: 100%;
  box-sizing: border-box;
  background-color: #4E75FF;
  color: white;
  padding: 8px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
}

.home-wrapper {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 45px;
  left: 30px;
  opacity: 0.3;
}

.home-wrapper img {
  width: 100%;
}